* {
  margin: 0;
  padding: 0;
  font-family: "Geist", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  height: 70vh;
  background: #fff;
}
.logo {
  font-size: 3em;
  color: #000000;
  font-weight: 500;
}
button {
  background: transparent;
  transition: 0.3s;
  cursor: pointer;
  color: #fff;
  border: solid 2px #ffffff;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
}
